
/* General color */
:root {
    --primary: #262626;
    --secundary: #008ae6;

    --backgroundC: #f0f0f0;
}



.conttainer{
    background: red !important;
}

.my-conteiner{
    border: 1px solid green
}

.my-row{
    border: 3px solid red
}

.my-col{
    border: 3px solid blue
}


/* Dropdwn primary buton boostrap color */
.btn-primary {
  color: #fff !important;
  background-color: var(--secundary) !important;
  border-color: var(--secundary) !important;
}

/* Border primary boostrap color */
.border-primary {
  border-color: var(--secundary) !important;
}



body {
    overflow: hidden;
    font-family: sans-serif;
    font-weight: 300; 
    color: var(--primary);
}

/* No underline en links*/
a:hover {
    text-decoration: none;
}

.bg-primary { background-color: var(--primary) !important; }


#sidebar-container {
    min-height: 100vh;
}
  
#sidebar-container .logo{
    padding: 0.875rem 1.25rem;
}
  
#sidebar-container .menu {
    width: 22rem;
}


#content {
    overflow-x: hidden;
    overflow-y: hidden; 
    height: 100vh;
    padding-bottom: 5rem;
    background: var(--backgroundC);
}


