
/* Dashboard color */
:root {
    --primary: #111B54;
    --light: #ffffff;
    --grey: #efefef;
}

.my-conteiner{
    border: 1px solid green
}

.my-row{
    border: 3px solid red
}

.my-col{
    border: 3px solid blue
}


body {
    overflow: hidden;
    font-family: sans-serif;
    font-weight: 300; 
    color: var(--primary);
}

/* No underline en links*/
a:hover {
    text-decoration: none;
}

.bg-primary { background-color: var(--primary) !important; }

.bg-light { background-color: var(--light) !important; }

.bg-grey { background-color: var(--grey) !important; }

.bg-mix { background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); }

.btn-primary {
    background-color: var(--primary);
    border: 0;
}

.btn-primary:hover {
    background-color: var(--primary);
}

#sidebar-container {
    min-height: 100vh;
}
  
#sidebar-container .logo{
    padding: 0.875rem 1.25rem;
}
  
#sidebar-container .menu {
    width: 18rem;
}

#content {
    overflow-y: hidden;
    height: 100vh;
    padding-bottom: 5rem;
}


